# **Lesson 2.타이타닉호 탑승객 분석**

# 1.비즈니스 시나리오

* 타이타닉 탑승객 중 생존자는?
    * 1912년 유럽에서 승객과 승무원 2200여명을 태우고 미국(뉴욕)으로
향하는 도중, 빙산에 부딪쳐 침몰한 배 타이타닉호!
    * 이때, 약 700여명만 생존했는데, 대부분은 구명보트를 타고 살았습니다.
    * 그렇다면, 당시 어떤 사람들이 구명보트에 탈 수 있었을까요?
    * 우선 탑승객의 정보를 분석해 봅시다.

# 2.환경준비

## (1) 라이브러리 불러오기

In [ ]:
# jupyter lite에서 패키지 설치
import piplite
await piplite.install("seaborn")

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## (2) 데이터 로딩

In [ ]:
data = pd.read_csv('titanic_simple.csv')

|	변수명	|	설명	|	구분	|
|----|----|----|
|	PassengerId 	|	 승객ID	|	일련번호	|
|	Survived 	|	 생존 여부(0-사망, 1-생존)	|	범주형	|
|	Pclass 	|	 객실 등급(1,2,3)	|	범주형	|
|	Name 	|	 승객 이름	|	문자열	|
|	Sex 	|	 성별(male, female)	|	범주형	|
|	Embarked 	|	 승선 지역(Southampton, Queenstown, Cherbourg)	|	범주형	|

# 3.데이터 기본 조회

## (1) 상위 5개 행 조회

In [ ]:
data.head()

## (2) 데이터프레임 정보 조회(.info())

In [ ]:
data.info()

# 4.단변량분석 : 범주형 변수

* 범주형 변수 분석 도구
    * 기초통계량 : .value_counts()
    * 시각화 : sns.countplot()
* 분석할 내용
    * 건수/비율이 높은 범주와, 낮은 범주를 찾고
    * 이유를 파악(상상)해 봅시다.

## (1) Survived

In [ ]:
var = 'Survived'

* 기초통계량

In [ ]:
# 범주별 빈도수
data[var].value_counts()

In [ ]:
# 범주별 비율
data[var].value_counts(normalize = True)

* 시각화
    * plt.subplot을 이용해서 1행2열 프레임에 그래프 2개를 그려 봅시다.
    * 그래프1 : sns.countplot
    * 그래프2 : plt.pie

In [ ]:
# 그래프 크기
plt.figure(figsize = (8, 4))

# 그래프1 : 막대 그래프
plt.subplot( 1 , 2 , 1 )
sns.countplot(x = var    , data = data   )
plt.grid()

# 그래프2 : 파이차트
plt.subplot( 1 , 2  , 2 )
# 먼저 집계
temp = data[var].value_counts()

# 그래프
plt.pie(temp.values, labels = temp.index, autopct = '%.2f%%')

plt.tight_layout()
plt.show()

* 파악된 내용을 적어 봅시다.

In [ ]:
# 사망자 비율 61.6%, 생존자 비율 38.4%
# 구명보트를 탄 사람만이 살았다.(구명보트 부족)

## (2) Pclass

In [ ]:
var = 'Pclass'

* 기초통계량

In [ ]:
# 범주별 빈도수
data[var].value_counts()

In [ ]:
# 범주별 비율
data[var].value_counts(normalize= True)

* 시각화
    * plt.subplot을 이용해서 1행2열 프레임에 그래프 2개를 그려 봅시다.
    * 그래프1 : sns.countplot
    * 그래프2 : plt.pie

In [ ]:
# 그래프 크기
plt.figure(figsize = (8, 4))

# 그래프1 : 막대 그래프
plt.subplot(1,2,1)
sns.countplot(x = var, data = data)
plt.grid()

# 그래프2 : 파이차트
plt.subplot(1,2,2)
# 먼저 집계
temp = data[var].value_counts().sort_index()

# 그래프
plt.pie(temp.values, labels = temp.index, autopct = '%.2f%%')

plt.show()

* 파악된 내용을 적어 봅시다.

In [ ]:
# 1등급 24%, 2등급 21%, 3등급 55%
# 서민들이 주로 탑승
# 원래 타이타닉호의 3등급 객실 수가 55%

## (3) Sex

In [ ]:
var = 'Sex'

* 기초통계량

In [ ]:
# 범주별 빈도수
data[var].value_counts()

In [ ]:
# 범주별 비율
data[var].value_counts(normalize = True  )

* 시각화
    * plt.subplot을 이용해서 1행2열 프레임에 그래프 2개를 그려 봅시다.
    * 그래프1 : sns.countplot
    * 그래프2 : plt.pie

In [ ]:
# 그래프 크기
plt.figure(figsize = (8, 4))

# 그래프1 : 막대 그래프
plt.subplot(1,2,1)
sns.countplot(x =  var, data = data)
plt.grid()

# 그래프2 : 파이차트
plt.subplot( 1 , 2  ,2  )
# 먼저 집계
temp = data[var].value_counts()

# 그래프
plt.pie(temp.values, labels = temp.index, autopct = '%.2f%%')

plt.show()

* 파악된 내용을 적어 봅시다.

In [ ]:
# 남자 65%, 여자 35%
# 미국에 이주해서 일자리를 구하려는 남자 청년들이 많았을 것 같다.

## (4) Embarked

In [ ]:
var = 'Embarked'

* 기초통계량

In [ ]:
# 범주별 빈도수
data[var].value_counts()

In [ ]:
# 범주별 비율
data[var].value_counts(normalize = True  )

* 시각화
    * plt.subplot을 이용해서 1행2열 프레임에 그래프 2개를 그려 봅시다.
    * 그래프1 : sns.countplot
    * 그래프2 : plt.pie

In [ ]:
# 그래프 크기
plt.figure(figsize = (8, 4))

# 그래프1 : 막대 그래프
plt.subplot(1, 2 ,1 )
sns.countplot(x =  var, data = data)
plt.grid()

# 그래프2 : 파이차트
plt.subplot( 1 , 2  , 2  )
# 먼저 집계
temp = data[var].value_counts()

# 그래프
plt.pie(temp.values, labels = temp.index, autopct = '%.2f%%')

plt.show()

* 파악된 내용을 적어 봅시다.

In [ ]:
# 사우스햄튼 72.4%, 쉐부르 18.9%, 퀀즈타운 8.7%
# 승선지역에 따라 생존여부는 관련이 있을까?