# **Topic 4. 데이터프레임 집계_실습**

## **(1) 환경준비**

* 라이브러리 로딩

In [1]:
import pandas as pd

* 데이터 준비

In [2]:
data = pd.read_csv('boston.csv')
data['medv_group'] = pd.cut(data['medv'], bins = [0, 20, 35, 50], labels = ['low','medium','high'])
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv,medv_group
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,medium
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,medium
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,medium
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,medium
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,high

|	변수	|	설명	|
|----|----|
|	medv	|	타운별 집값(중위수)	|
|	medv_group	|	타운별 집값 그룹('low','medium','high')	|
|	crim	|	범죄율	|
|	zn2	|	25,000 평방피트를 초과 거주지역 비율 (범주: 0-하, 1-중, 2-상)	|
|	indus	|	비소매상업지역 면적 비율	|
|	chas	|	찰스강변 위치(범주 : 강변1, 아니면 0)	|
|	nox	|	일산화질소 농도	|
|	rm	|	주택당 방 수	|
|	age	|	1940년 이전에 건축된 주택의 비율	|
|	dis	|	직업센터의 거리	|
|	rad	|	방사형 고속도로까지의 거리	|
|	tax	|	재산세율	|
|	ptratio	|	학생/교사 비율	|
|	lstat	|	인구 중 하위 계층 비율	|

## **(2) 실습1 : 집계함수**

* ① 집값(medv)의 평균을 구하시오.
* ② 주택당 방수(rm)과 범죄율(crim)의 최댓값을 구하시오.

① 집값(medv)의 평균을 구하시오.

In [3]:
data['medv'].mean()

22.532806324110677

② 주택당 방수(rm)과 범죄율(crim)의 최댓값을 구하시오.

In [4]:
data[['rm','crim']].max()

rm       8.7800
crim    88.9762
dtype: float64

## **(3) 실습2 : 열 기준 집계(group by)**

* ① 집값 그룹(medv_group) 별 범죄율(crim)의 평균을 조회하시오.
* ② 집값 그룹(medv_group) 별 교사1명당 학생수(ptratio)의 최솟값을 조회하시오.
* ③ 집값 그룹(medv_group) 별, 찰스강변여부(chas) 별 하위계층비율(lstat)의 평균값을 조회하시오.
* ④ 고속도로와 거리(rad)가 5 이내인 타운에 대해서, 집값 그룹(medv_group) 별, 방 수(rm)의 평균값을 조회하시오.

① 집값 그룹(medv_group) 별 범죄율(crim)의 평균을 조회하시오.

In [5]:
data.groupby('medv_group', as_index = False)['crim'].mean()

  medv_group      crim
0        low  7.235553
1     medium  0.912439
2       high  1.064089

② 집값 그룹(medv_group) 별 교사1명당 학생수(ptratio)의 최솟값을 조회하시오.

In [6]:
data.groupby('medv_group', as_index = False)['ptratio'].min()

  medv_group  ptratio
0        low     14.7
1     medium     12.6
2       high     13.0

③ 집값 그룹(medv_group) 별, 찰스강변여부(chas) 별 하위계층비율(lstat)의 평균값을 조회하시오.

In [7]:
data.groupby(['medv_group','chas'], as_index = False)['lstat'].mean()

  medv_group  chas      lstat
0        low     0  18.476473
1        low     1  18.548750
2     medium     0   8.902723
3     medium     1  11.132105
4       high     0   4.753750
5       high     1   4.195000

④ 고속도로와 거리(rad)가 5 이내인 타운에 대해서, 집값 그룹(medv_group) 별, 방 수(rm)의 평균값을 조회하시오.

In [8]:
data.loc[data['rad']<= 5].groupby('medv_group', as_index = False)['rm'].mean()

  medv_group        rm
0        low  5.834889
1     medium  6.383266
2       high  7.559657

In [13]:
temp = data.loc[data['rad'] <= 5]
temp.groupby('medv_group', as_index = False)['rm'].mean()

  medv_group        rm
0        low  5.834889
1     medium  6.383266
2       high  7.559657