# **Topic 2. 데이터프레임 결합_실습**

* 이번 실습은 실습1 > 실습2 > 실습3 으로 이어집니다.

## **(1) 환경 준비**

* 라이브러리 로딩

In [ ]:
import pandas as pd
import numpy as np

* 데이터 로딩

In [ ]:
sales1 = pd.read_csv('sales1.csv') # Store_ID == 1
sales2 = pd.read_csv('sales2.csv') # Store_ID == 2
sales3 = pd.read_csv('sales3.csv') # Store_ID == 3
products = pd.read_csv('products.csv')

In [ ]:
sales1.head()

In [ ]:
products.head()

## **(2) 실습1 : 합치기**


* 다음의 세 데이터셋을 하나로 합치시오.
    * sales1, sales2, sales3 ==> sales

In [ ]:
sales = pd.c  ([  ,  ,  ], axis = 0)
sales.head()

## **(3) 실습2 : 병합**


* 점포(Store_ID)별, 상품 카테고리(Category)별, 매출액 합계를 구해 봅시다.
    * ① sales와 products를 병합 : merge(inner)
    * ② 새 열 추가 Qty와 Price를 곱해서 금액(Amt) 열을 생성
    * ③ 점포(Store_ID)별, 상품 카테고리(Category)별, 매출액 합계를 집계

In [ ]:
# ① sales와 products를 병합 : merge(inner)
temp = pd.m (   ,   , on =  )
temp.head()

In [ ]:
# ② 새 열 추가 Qty와 Price를 곱해서 금액(Amt) 열을 생성
temp['Amt'] = temp[   ] * temp[   ]
temp.head()

In [ ]:
# ③ 점포(Store_ID)별, 상품 카테고리(Category)별, 매출액 합계를 집계
temp_gr = temp.g   ([  ,  ], as_index = False)[   ].
temp_gr

## **(4) 실습3 : pivot**


* 다음의 조건으로 피봇을 수행하시오.
    * 행(index) : Category
    * 열(columns) : Store_ID
    * 값(values) : Amt

In [ ]:
temp_gr.p  (   ,   ,   )