# **Topic 1. 하나의 정보 탐색하기_실습**

## **(1) 환경준비**

### 1) 라이브러리 불러오기

In [ ]:
# jupyter lite에서 패키지 설치
import piplite
await piplite.install("seaborn")

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# mosaic plot
from statsmodels.graphics.mosaicplot import mosaic

### 2) 데이터 불러오기

* 데이터 설명

|칼럼명|설명|타입|
|----|----|----|
|total_bill|총금액|수치형|
|tip|팁|수치형|
|gender|성별|범주형|
|smoke|흡연여부|범주형|
|day|요일|범주형|
|time|식사구분|범주형|
|size|식사인원|수치형|

In [2]:
data = pd.read_csv('tips2.csv')
data.head()

   total_bill   tip  gender smoke  day    time  size
0       16.99  1.01  Female    No  Sun  Dinner     2
1       10.34  1.66    Male    No  Sun  Dinner     3
2       21.01  3.50    Male    No  Sun  Dinner     3
3       23.68  3.31    Male    No  Sun  Dinner     2
4       24.59  3.61  Female    No  Sun  Dinner     4

## **(2) 실습1 : 수치형 정보 분석**

* ① 데이터 셋에 .describe()를 이용하여 기초 통계량을 조회합니다.
* ② total_bill에 대해 히스토그램, kde plot, box plot을 그리고 비즈니스를 파악해 봅시다.
* ③ tip에 대해 히스토그램, kde plot, box plot을 그리고 비즈니스를 파악해 봅시다.

① 데이터 셋에 .describe()를 이용하여 기초 통계량을 조회합니다.

In [ ]:
data.d

② total_bill에 대해 히스토그램, kde plot, box plot을 그리고 비즈니스를 파악해 봅시다.

In [ ]:
plt.figure(figsize = (12,4))

# 히스토그램
plt.subplot(1,3, )
plt.h (data[  ], bins =  , edgecolor = 'gray')

# kde plot
plt.subplot(1,3, )
sns.k (data[ ])

# box plot
plt.subplot(1,3, )
plt.b (data[ ], vert =  )

plt.tight_layout()
plt.show()

* 비즈니스를 파악해 봅시다.

③ tip에 대해 히스토그램, kde plot, box plot을 그리고 비즈니스를 파악해 봅시다.

In [ ]:
plt.figure(figsize = (12,4))

# 히스토그램
plt.subplot(1,3, )
plt.h (data[  ],    , edgecolor = 'gray')

# kde plot
plt.subplot(1,3, )
sns.k (data[ ])

# box plot
plt.subplot(1,3, )
plt.b (data[ ],  )

plt.tight_layout()
plt.show()

* 비즈니스를 파악해 봅시다.

## **(3) 실습2 : 범주형 정보 분석**
다음 두 정보에 대한 범주형 변수의 기초  통계량과 막대그래프, 파이 차트를 통해 비즈니스를 파악해 봅시다.
* ① gender
* ② time

① gender

In [ ]:
# 기초 통계량1
data[ ].va

In [ ]:
# 기초 통계량2
data[ ].va (n  = True)

In [ ]:
# 시각화
plt.figure(figsize = (8, 4))
plt.subplot(1,2, )
sns.co (x =  , data = data)

plt.subplot(1,2, )
temp = data[ ].va
plt.p (temp.values, labels = temp.index, autopct = '%.2f%%')

plt.tight_layout()
plt.show()

* 비즈니스를 파악해 봅시다.

② time

In [ ]:
# 기초 통계량1
data[ ].va

In [ ]:
# 기초 통계량2
data[ ].va (n  = True)

In [ ]:
# 시각화
plt.figure(figsize = (8, 4))
plt.subplot(1,2, )
sns.c  (x =  , data = data)

plt.subplot(1,2, )
temp = data[ ].va
plt.p (temp.values, labels = temp.index, autopct = '%.2f%%')

plt.tight_layout()
plt.show()

* 비즈니스를 파악해 봅시다.