# **Lesson 3. 뉴욕 공기 오염도 분석**

# **1.비즈니스 시나리오**

* 오존 농도와 관련 있는 요인은?
    * 현재 세계에서 미세먼지 오염도가 가장 낮은 도시들은 미국, 일본, 유럽의 도시들입니다. 특히 뉴욕은 2016년 기준 전 세계에서 미세먼지 오염이 가장 낮은 대표적인 대도시입니다.
    * 그러나 1950 ~ 60년대 뉴욕은 인류 역사상 최악의 대기오염, 미세먼지 오염 도시였었습니다.
    * 뉴욕은 어떻게 공기 오염문제를 해결했을까요?
    * 주어진 정보는 1973-05-01 ~ 1973-09-30 동안의 측정값입니다.
제한된 정보이지만, 주어진 데이터로 부터 공기 오염도와 관련 있는 요인들을 분석해 봅시다.

# 2.환경준비

## (1) 라이브러리 불러오기

In [ ]:
# jupyter lite에서 패키지 설치
import piplite
await piplite.install("seaborn")

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## (2) 데이터 로딩

In [ ]:
data = pd.read_csv('NY_Airquality.csv')
data['Date'] = pd.to_datetime(data['Date'])

|	변수명	|	설명	|	구분	|
|----|----|----|
|	Ozone 	|	 오존 농도(공기 오염도)	|	수치형	|
|	Solar.R 	|	 태양 복사열의 양	|	수치형	|
|	Wind 	|	 바람세기	|	수치형	|
|	Temp 	|	 온도	|	수치형	|
|	Date	|	 날짜(yyyy-mm-dd)	|		|

# 3.데이터 정보조회

## (1) 상,하위 데이터 조회

In [ ]:
# 상위 데이터 조회

In [ ]:
# 하위 데이터 조회

## (2) 데이터프레임 정보 조회(info)

# 4.이변량분석 : 수치형 --> 수치형

* 시각화 : 산점도

In [ ]:
target = 'Ozone'

## (1) Solar.R --> Ozone

* 그래프

In [ ]:
var = 'Solar.R'
sns.scatterplot(x = var, y = target, data = data)
plt.grid()
plt.show()

* 파악한 내용을 적어봅시다.

## (2) Temp --> Ozone

* 그래프

* 파악한 내용을 적어봅시다.

## (3) Wind --> Ozone

* 그래프

* 파악한 내용을 적어봅시다.

## (4) 상관계수
* 전체 데이터프레임에 대해 .corr()을 이용해서 상관계수를 구하고,
* Solar.R, Temp, Wind 중 어떤 변수가 Ozone과 가장 강한 관계인지 찾아봅시다.

* Ozone과 가장 강한 변수는?

# 5.이변량분석 : 범주형 --> 수치형

* 시각화 : 평균비교 막대그래프

## (1) 요일 변수 추가

In [ ]:
data['Weekday'] = data['Date'].dt.weekday

## (2) Weekday --> Ozone

* 그래프

In [ ]:
var = ''
sns.b    (x = var, y = target, data = data)
plt.grid()
plt.show()

* 파악한 내용을 적어봅시다.