# **Lesson 2.Pandas 기초_예제**
데이터 분석 초급 과정 2 (Python) > Module1. 데이터 분석을 위한 Python 라이브러리

----

## **(1) Topic 1. Pandas 소개**

### **1) Pandas 란?**

* 라이브러리 로딩
    * Pandas 라이브러리는 일반적으로 pd 별칭을 붙여 불러옵니다.

In [ ]:
import pandas as pd

### **2) 데이터프레임과 시리즈**

**① 데이터 불러오기**  
* 이 부분은 다음 토픽에서 다룹니다. 여기서는 일단 실행을 합니다.

In [ ]:
path = 'air.csv'  # 제공된 데이터 로딩
air = pd.read_csv(path)

**② 데이터프레임(data frame)**  
* 표 형태의 2차원 구조

In [ ]:
air

**③ 시리즈(series)**  
* 1차원 구조 : 데이터프레임에서 열(Column) 하나를 떼어내면 바로 **시리즈**
* 데이터프레임에서 칼럼 하나를 조회하는 방법 : **dataframe['열이름']**

In [ ]:
# 데이터프레임 air의 Solar.R 열 조
air['Solar.R']

## **(2) Topic 2. 데이터프레임 생성 및 탐색**


### **1) 데이터프레임 생성**

- 데이터프레임을 직접 생성할 수도 있고,
- csv 파일에서 불러올 수도 있습니다.

**① 데이터프레임 직접 만들기**

- **pd.DataFrame()** 함수를 사용해 데이터프레임을 직접 만들 수 있습니다.
- 대부분 리스트, 딕셔너리, Numpy 배열로부터 데이터프레임을 만듭니다.

In [ ]:
# 1. 딕셔너리 만들기
dict1 = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

# 확인
print(dict1)

In [ ]:
# 2. 데이터프레임 만들기
df = pd.DataFrame(dict1)

# 확인
df

**② CSV파일 읽어오기**

- 분석용 데이터는 대부분 파일에서 읽어 가져오니 잘 익혀야 할 기능입니다.
- **read_csv()** 함수를 사용해서 CSV 파일에서 데이터를 읽어옵니다.

In [ ]:
path = 'air.csv'
air = pd.read_csv(path)

# 확인
air

### **2) 데이터프레임 탐색**

* **상위, 하위 몇개 정보 살펴보기**

In [ ]:
# 상위 5개
air.head()

In [ ]:
# 상위 3개
air.head(3)

In [ ]:
# 하위 5개
air.tail()

In [ ]:
# 하위 3개
air.tail(3)

* **칼럼이름 조회**
- 방법1 : df.columns
- 방법2 : list(df)

In [ ]:
# 방법1 : df.columns
air.columns

In [ ]:
# 방법2 : list(df)
list(air)

* **형태(크기) 확인**
    - shape 속성으로 데이터프레임의 형태를 확인합니다.

In [ ]:
air.shape

* **info()**

In [ ]:
air.info()

* **정렬 조회**
* df.sort_values(by = , ascending =)

In [ ]:
# 단일 열 기준 정렬
air.sort_values(by = 'Ozone', ascending = False)

In [ ]:
# 여러 열 기준 정렬
air.sort_values(by = ['Ozone', 'Temp'], ascending = [False, True] )

## **(3) Topic 3. 데이터프레임 조건 조회**

### **1) 조건문**

* 특정 열 조회
    * 1차원(시리즈)으로 조회 : 데이터프레임['칼럼']
    * 2차원(데이터프레임)으로 조회 : 데이터프레임[['칼럼']]

In [ ]:
# 1차원(시리즈)으로 조회
air['Temp']

In [ ]:
# 2차원(데이터프레임)으로 조회
air[['Temp']]

* 조건문
    * 조건 연산자 : >, <, >=, <=, ==, !=

In [ ]:
air['Temp'] < 70

### **2) 조건조회**

* 조건조회 : .loc[   ,   ]

In [ ]:
air.loc[air['Temp'] < 70, ['Ozone','Temp']]

In [ ]:
# 여러조건은 and로 연결
air.loc[(air['Temp'] < 80) & (air['Ozone'] < 20)]

In [ ]:
# 여러조건을 or로 연결
air.loc[(air['Temp'] < 80) | (air['Ozone'] < 20)]

In [ ]:
# 열 이름만 조회
air.loc[:, ['Ozone', 'Temp']]

- **between(값1, 값2)**: 값1 ~ 값2까지 범위안의 데이터만 조회합니다.

    * inclusive = 'both' (기본값)
        * 'left', 'right', 'neither'

In [ ]:
air.loc[air['Temp'].between(70, 80)]

In [ ]:
air.loc[air['Temp'].between(70, 80, inclusive = 'left')]

* isin()
    - **isin([값1, 값2,..., 값n])**: 값1 또는 값2 또는...값n인 데이터만 조회합니다.
    - 주의 isin(**리스트**) 값들을 리스트 형태로 입력해야 합니다.

In [ ]:
air.loc[ air['Temp'].isin([70, 80, 90])]

## **(4) Topic 4. 데이터프레임 집계**

- 상세 데이터가 아닌 집계된 데이터에 대한 분석을 자주 요구하니 익숙해져야 할 내용입니다.
- sum(), mean(), max(), min(), count() 메서드를 사용해 지정한 열 또는 열들을 기준으로 집계합니다.
- 평균을 구하는 메서드가 avg()가 아닌 mean() 임을 주의하기 바랍니다.

In [ ]:
# 데이터 읽어오기
path = 'titanic.csv'
titanic = pd.read_csv(path)

# 상위 5개 확인
titanic.head(5)

### **1) 집계함수**

- 특정 값의 평균은 다음과 같이 구할 수 있습니다.

In [ ]:
titanic['Age'].mean()

In [ ]:
titanic[['Age', 'Fare']].mean()

### **2) 열 기준 집계(group by)**

* df.groupby( ‘기준칼럼’, as_index = )[‘집계칼럼’].집계함수
    * 기준칼럼 :
        * ‘~~별’ 에 해당되는 변수 혹은 리스트
        * 예: 월 별, 지역 별 등
    * 집계칼럼
        * 집계함수로 집계할 변수 혹은 리스트. (예 : 매출액 합계 )
    * as_index = False
        * 기준칼럼을 인덱스로 사용할 것인가?
        * 우리는 False로 지정 ==> 인덱스가 아니라 칼럼으로 지정

In [ ]:
titanic.groupby('Sex', as_index=False)['Age'].mean()

- [['data']].sum()과 같이 하면 열이 여럿이라는 의미여서 결과가 **데이터프레임**이 됩니다.

In [ ]:
titanic.groupby(['Pclass','Sex'], as_index=False)[['Age','Fare']].mean()