# **Topic 2. 데이터프레임 생성 및 탐색_실습**

## **(1) 실습1 : 데이터프레임 생성**

* ① Pandas 라이브러리를 불러옵니다.
    * 별칭은 pd로 지정
* ② 주어진 딕셔너리를 이용해서 데이터프레임을 생성해 봅시다.
* ③ titanic.csv 파일로 부터 읽어 들여 데이터프레임을 저장해 봅시다.

① Pandas 라이브러리를 불러옵니다.

In [ ]:
import   as

② 주어진 딕셔너리를 이용해서 데이터프레임을 생성해 봅시다.

In [ ]:
# 딕셔너리 만들기
dict1 = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Age': [23,49,32,45]}

# 확인
print(dict1)

In [ ]:
data = pd.D  (  )

③ boston.csv 파일로 부터 읽어 들여 데이터프레임을 저장해 봅시다.

In [ ]:
data = pd.r    (   )

## **(2) 실습2 : 데이터프레임 탐색**

실습1-③ 에서 저장한 데이터프레임에 대해서
* ① 상위 3개, 하위 4개 행을 조회해 봅시다.
* ② 데이터프레임의 칼럼 이름을 조회해 봅시다.
* ③ 데이터프레임의 행과 열 수를 조회해 봅시다.
* ④ 데이터프레임의 기본 정보를 조회해 봅시다.
* ⑤ 'crim'을 기준으로 내림차순으로 정렬해 봅시다.

① 상위 3개, 하위 4개 행을 조회해 봅시다.

In [ ]:
data.h ()

In [ ]:
data.t ()

② 데이터프레임의 칼럼 이름을 조회해 봅시다.

In [ ]:
data.c

③ 데이터프레임의 행과 열 수를 조회해 봅시다.

In [ ]:
data.s

④ 데이터프레임의 기본 정보를 조회해 봅시다.

In [ ]:
data.i

⑤ 'crim'을 기준으로 내림차순으로 정렬해 봅시다.

In [ ]:
data.s  (    , ascending =   )